@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Roboto&display=swap');

@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: local('HelveticaNeueCyr-Roman'), url('https://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: local('HelveticaNeueCyr-Light'), url('https://nomail.com.ua/files/woff/2127aa6d0680b144a3bd8be9debeba09.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src: local('HelveticaNeueCyr-Medium'), url('https://nomail.com.ua/files/woff/c88edbac48d6408ef042ad663b7d9498.woff') format('woff');
}

button,
input,
a {
	background: none;
	color: #111;
}

.wrapper {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr auto;
}

.header {
	grid-row: 1/2;
	margin: 0 auto;

	&__menu {
		display: flex;
	}

	&__menu-left {}

	&__menu-left-links {}

	&__menu-left-link {}

	&__menu-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 15px;
		background: #111;
		margin: 0px 20px;

		&>a {
			font-family: 'HelveticaNeueCyr-Light';
			font-size: 40px;
			font-weight: 400;
			letter-spacing: 0.02em;
			color: #fefefe;
		}
	}

	&__menu-right {}

	&__menu-right-links {}

	&__menu-right-link {}
}

.header-links {
	display: flex;
}

.header-link {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #989696;
	margin: 22px 20px 22px 20px;

	&:hover {
		color: #111;
		cursor: pointer;
		font-weight: 700;

	}
}

.body {
	grid-row: 2/3;
	margin: 0 auto;
}

.block1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 0 110px 0;

	&__head {
		margin: 0 0 43px 0;
		text-align: center;
	}

	&__head-title {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 44px;
		letter-spacing: 0.02em;
		color: #1d1e1f;
	}

	&__head-subtitle {
		font-family: Merriweather;
		font-size: 16px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.03em;
		color: #898888;
	}

	&__head-readmore {
		width: 188px;
		height: 57px;
		border-top: 1px solid #000000;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 1s;
		margin: 0 0 306px 0;

		@media (max-width: 800px) {
			margin: 0 0 50px 0;
		}
		&:hover {
			transition: 0.5s;
			box-shadow: 0px 0px 10px #f1f1f1;
		}
	}

	&__head-readmore-button {
		font-family: Montserrat;
		font-size: 13px;
		line-height: 17px;
		font-weight: 400;
		letter-spacing: 0.04em;
		color: #000000;
	}

	&__items-dots {
		width: 10px;
		height: 10px;
		opacity: 0.32;
		border-radius: 50%;
		background-color: #d0d0d0;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: -20px;
			left: 0;
			width: 10px;
			height: 10px;
			opacity: 0.65;
			border-radius: 50%;
			background-color: #d0d0d0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 20px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #d0d0d0;
		}
	}
}

@mixin left-line {
	align-items: flex-end;
	margin: 0 50px 90px 0;
	position: relative;

	@media (max-width: 800px) {
		margin: 0 50px 30px 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		right: -62px;
		width: 24px;
		height: 24px;
		background: #111;
		border-radius: 50%;
		border: 5px solid #ffffff;
	}
}
@mixin right-line {
	align-items: flex-start;
	margin: 0 0 70px 50px;
	position: relative;

	@media (max-width: 800px) {
		margin: 0 0 30px 50px;
	}	
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		left: -62px;
		width: 24px;
		height: 24px;
		background: #111;
		border-radius: 50%;
		border: 5px solid #ffffff;
	}
}

.block2 {
	background-color: #1d1d1d;
	color: #fff;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	overflow: hidden;
	padding: 150px 0 0 0;

	&__items {
		grid-column: 2/3;
		display: grid;
		margin: 0 0 200px 0;

		@media (max-width:800px) {
			margin: 0 0 50px 0;
		}
	}
	

	&__item {
		max-width: 440px;
		display: flex;
		flex-direction: column;
		z-index: 3;

		&:nth-child(1) {
			grid-row: 1/2;
			grid-column: 1/2;
			@include left-line;
		}

		&:nth-child(2) {
			grid-row: 2/3;
			grid-column: 2/3;
			@include right-line;
		}

		&:nth-child(3) {
			grid-row: 3/4;
			grid-column: 1/2;
			@include left-line;
			&:after {
				right: -72px;
				width: 44px;
				height: 44px;
			}
		}

		&:nth-child(4) {
			grid-row: 4/5;
			grid-column: 2/3;
			@include right-line;
		}
	}

	&__item-title {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 48px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #fefefe;
		margin: 0 0 20px 0;
	}

	&__item-text {
		font-family: Montserrat;
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #b7b7b7;
	}

	&__item-circle {}

	&__line {
		position: relative;
		z-index: 2;
		grid-column: 1/4;
		transform: translate(0%, 5px);

		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 50%;
			width: 5px;
			height: 2000px;
			background: #fff;
			transform: rotate(0deg) translate(-50%, 0%);

		}
	}
}
.block3 {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	padding: 82px 0 0 0;
	overflow: hidden;
	position: relative;
	z-index: 9;

	&__head {
		grid-column: 2/3;
		margin: 0 0 124px 0;
		text-align: center;
	}
	&__title {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 34px;
		letter-spacing: 0.02em;
		color: #1d1e1f;
		margin: 0 0 13px 0;
	}
	&__subtitle {
		font-family: Merriweather;
		font-size: 16px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.02em;
		color: #898888;
	}
	&__items {
		display: flex;
		grid-column: 2/3;
		margin: 0 0 90px 0;
		padding: 0 40px;

		@media (max-width:850px) {
			flex-direction: column;
		}
	}
	&__item {
		margin: 0 230px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:last-child {
			margin: 0;
			padding-top: 90px;

			@media (max-width:850px) {
				margin: 0;
				padding: 0;
			}
		}
		&:first-child {
			padding-top: 90px;
			@media (max-width:850px) {
				margin: 0 0 20px 0;
				padding: 0;
			}
		}
		@media (max-width:850px) {
			margin: 0 0 20px 0;
			padding: 0;
		}
	}
	&__item-photo {
		margin: 0 0 29px 0;
		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__item-name {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 24px;
		letter-spacing: 0.02em;
		color: #464646;
		margin: 0 0 7px 0;
	}
	&__item-job {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 13px;
		letter-spacing: 0.02em;
		color: #b3b3b3;
		margin: 0 0 23px 0;
	}
	&__item-socials {
		display: flex;
	}
	&__item-social {
		margin: 0 15px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;

		&:last-child {
			margin: 0;
		}
		&:hover {
			cursor: pointer;
		}
	}

	&>span {
		width: 100%;
		height: 100px;
		background: #111;
		grid-row: 3/4;
		grid-column: 1/4;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		transform: translate(0%, 0px);
		z-index: 2;
	}
}
.block4 {
	background: #111;
	color: #ffffff;
	padding: 45px 0 0 0;
	overflow: hidden;
	clip-path: polygon(100% -1%, 100% 85%, 0 100%, 0 0);
	&__span {
		clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
		width: 1000px;
		height: 1000px;
		background: #fff;
	}
	&__container {
		margin: 0 auto;
		max-width: 1175px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	&__head {
		text-align: center;
		margin: 0 0 200px 0;
	}
	&__head-title {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 34px;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__head-subtitle {
		font-family: Merriweather;
		font-size: 16px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.02em;
		color: #777777;
	}
	&__items {
		display: flex;
		margin: 0 0 149px 0;
		justify-content: space-between;

		@media (max-width:850px) {
			flex-direction: column;
		}
	}
	&__item {
		padding: 0 45px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media (max-width:850px) {
			margin: 0 0 20px 0;
		}
	}
	&__item-img {
		width: 172px;
		height: 172px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 6px solid #ffffff;
		border-radius: 50%;
		margin: 0 0 40px 0;
	}
	&__item-title {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 26px;
		letter-spacing: 0.02em;
		color: #ffffff;
		margin: 0 0 30px 0;
	}
	&__item-text {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 18px;
		letter-spacing: 0.02em;
		color: #383838;
	}
	&__background {
		position: relative;
		max-height: 700px;
		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			opacity: 0.4;
		}
	}
	&__button {
		position: absolute;
		bottom: 300px;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 217px;
		height: 64px;
		background-color: #ffffff;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.5s;

		&>button {
			font-family: 'HelveticaNeueCyr-Medium';
			font-size: 16px;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&:hover {
			transition: 0.5s;
			background: #e4e4e4;
			box-shadow: 0px 0px 5px #e4e4e4;
		}
		
	}
}
input, textarea {
	border: 1px solid #999999;
}
.block5 {
	padding: 95px 0;
	&__container {
		margin: 0 auto;
		max-width: 770px;
	}
	&__head {
		text-align: center;
		margin: 0 0 60px 0;
	}
	&__head-title {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 34px;
		letter-spacing: 0.02em;
		color: #1d1e1f;
		margin: 0 0 13px 0;
	}
	&__head-subtitle {
		font-family: Merriweather;
		font-size: 16px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.02em;
		color: #898888;
	}
	&__contacts {}
	&__contacts-items {
		display: flex;
		justify-content: center;
		margin: 0 0 153px 0;
	}
	&__contacts-item {
		flex: 1 1 33.333%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__contacts-item-img {
		margin: 0 0 12px 0;

		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__contacts-item-text {
		font-family: 'HelveticaNeueCyr-Light';
		font-size: 12px;
		letter-spacing: 0.02em;
		color: #898888;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__form-inputs {
		margin: 0 0 20px 0;
		padding: 2% 10px;
		text-align: center;
	}
	&__form-textarea {
		margin: 0 0 20px 0;
		height: 195px;
		padding: 1% 10px;
	}
	&__form-button {
		height: 52px;
		background-color: #161616;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'HelveticaNeueCyr-Medium';
		font-size: 17px;
		letter-spacing: 0.02em;
		color: #fefefe;
	}
}

.footer {
	grid-row: 3/4;
	margin: 0 auto;
	padding: 55px 0;
}



// .header {display: none;}
// .block1 {display: none;}
// .block2 {display: none;}
// .block3 {display: none;}
// .block4 {display: none;}
// .block5 {display: none;}
// .footer {display: none;}
